Aron Sandstedt <aron.sandstedt@live.se>
Niklas Baerveldt <niklas.baerveldt@gmail.com>
Linnea Bark <bark_linnea@hotmail.com>
Jonatan Magnusson <kjb.magnusson@gmail.com>
Jack Ahlkvist <jack.ahlkvist@gmail.com>
Robert Agrell <car0b1nius@telia.com?>
Alice Gunnarsson <alice@granssnittsarna.se>
Matilda Sjöblom <matsjobl@student.chalmers.se>
Eli Knoph <eli.knoph@gmail.com>